/*style*/
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #e94e06;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    top: 1090px;
    left: 100px;
    
}

/* Style */
.button-container {
    text-align: center;
    margin-top: 50px;
}


.button-left {
    margin-left: 20px;
}

.button-right {
    margin-right: 20px;
}

.button1 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    background-color: #4bb84f;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    position: absolute;
    top: 1100px;
    left: 300px;
    
}

/* Style */
.button-container {
    text-align: center;
    margin-top: 50px;
}


.button-left {
    margin-left: 20px;
}

.button-right {
    margin-right: 20px;
}