#Block/* outer top*/
{
Height : 100px; 
width : 1800px;
background-color: black;
opacity: 1;
position: static ;
border: 5px;
border-radius: 10px;


}

#Block1 /*inner right*/
{
Height : 1000px; 
width : 150px;
background-color: black;
opacity: 0.8;
position: absolute;
left : 1600px;
top : 60px ; 

}
#Block2/*outer bottom*/
{
Height : 100px; 
width : 1800px;
background-color: black;
opacity: 1;
position: absolute ; 
top : 1000px;
border: 5px;
border-radius: 10px;


}
#Block3 /*inner left*/
{
Height : 1000px; 
width : 150px;
background-color: black;
opacity: 0.8;
position: absolute ;
left: 60px;
top : 50px


}

#Block4 /*outer left*/
{
Height : 900px; 
width : 150px;
background-color: black;
opacity: 1;
position: absolute;
left: 30px;
border: 5px;
border-radius: 10px;
top : 110px; 

}

#Block5 /*outer right*/
{
    Height : 900px; 
    width : 150px;
    background-color: black;
    left: 1630px;
    position :absolute;
    border: 5px;
    border-radius: 10px;


}

#Block6 /*inner bottom*/
{
    Height : 100px; 
    width : 1700px;
    background-color: black;
    opacity: 0.8;
    position: absolute ; 
    top : 980px;
    border: 5px;
    border-radius: 10px;
    left: 40px;
}

#Block7 /*inner top*/
{
    Height : 100px; 
    width : 1700px;
    background-color: black;
    opacity: 0.8;
    position: absolute ; 
    top : 50px;
    border: 5px;
    border-radius: 10px;
    left: 40px;

}

#Block8 /*main inner*/
{
    height :830px;
    width : 1400px; 
    background-color: rgb(43, 39, 39);
    position: absolute;
    top: 150px;
    left: 200px;
    opacity: 1;
}

img /*speaker mesh*/ {
    height: 830px;
    width: 1400px;
    position: absolute;
    top: 150px;
    left: 200px;
}
@keyframes pulse {
    0% {
        border-color: brown;
    }
    50% {
        border-color: rgb(38, 0, 255); /* Change for my desired pulse colour */
    }
    100% {
        border-color: rgb(238, 1, 139);
    }
}

/* Applies the animation to both blocks */
#Block9, #Block10 {
    animation-name: none; /*  no animation */
    animation-duration: 2s; /* Animation duration */
    animation-iteration-count: infinite; /* Loops the animation infinitely */
}

/* Class Define  */
.pulse-animation {
    animation-name: pulse;
}

#Block9/*speaker main*/
{
    height: 500px ;
    width: 500px;
    background-color: rgb(10, 10, 10);
    position: relative;
    top: 300px;
    left:670px;
    opacity: 0.9;
    border: 5px;
    border-radius: 50%;
    border: 5px;
    border-radius: 50%;
    border-color: brown;
    border-style: dotted;
}
#Block10 /*speaker small*/
{
    height: 200px ;
    width: 200px;
    background-color: rgb(10, 10, 10);
    position: relative;
    top: -450px;
    left:820px;
    opacity: 0.9;
    border: 5px;
    border-radius: 50%;
    border-color: brown;
    border-style: dotted;
   
}

#Block11 /*red tri*/
{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 11, 11);
    position: absolute;
    border-right-width: 50px;
    border-left-width:50px ;
    border-top-width:10px;
    left : 50px;
}







 




